* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  border-left: none;
  border-bottom: 2px solid $border;
  background-color: transparent
}

::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border-radius: 6px;
}
